{% extends "layout.html" %} {% block content %}

<div class="page flex flex-wrap justify-center mt-10">
    <div class="flex w-full justify-center mb-3">
        <img
            src="assets/images/me.png"
            class="inline-block rounded-full w-34 shadow-md"
        />
    </div>
    <div class="w-1/2 mt-4 text-center">
        <!-- <h1 class="mb-0 font-bold text-6xl"><p>Jan '<img style="margin-right: 3px; margin-bottom: 14px; height: 1em; display: inline" src="assets/images/signature.png">' Zakolski</p></h1> -->
        <h1 class="mb-0 font-bold text-6xl"><p>Jan 'Bastian' Zakolski</p></h1>
        <p class="mt-2 text-4xl text-gray-600 leading-tight">
            {{ person.taglines.default }}
        </p>
    </div>
    <div class="w-full text-center mt-8 pb-8">
        <ul class="job-history col-span-5 flex flex-wrap justify-center text-2xl">
            <li class="ml-5">
                <a href="resume"
                    >Resume</a
                >
            </li>
            {% for link in site.nav %}
            <li class="ml-5">
                <a href="{{ site.nav[link].href }}"
                    >{{ site.nav[link].anchor }}</a
                >
            </li>
            {% endfor %}
        </ul>
    </div>

        <div class="w-full text-center mt-1 pb-10">

        <ul class="flex flex-nowrap justify-center">
            {% for link in person.links %}
            <li class="text-sm ml-6">
                <a
                    href="{{ person.links[link]['url'] }}"
                    target="_blank"
                    rel="me"
                >
                    <span class="w-5 inline-block"
                        >{{ person.links[link]['icon'] }}</span
                    >
                    <span>{{ person.links[link]['text'] }}</span></a
                >
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
